// DEFINE BRAND COLORS
$core-blue: #0D62FF;
$navy: #112F64;
$sky-blue: #8DE1FA;
$lemon: #F9EC55;
$mint: #7DEDB5;
$lilac: #A89FFF;

// DEFINE NEUTRAL COLORS
$white: #FFFFFF;
$dark-grey: #191919;
$black: #000000;