<div class="page-wrap">
  <div class="d-flex flex-wrap align-items-center justify-content-center gap-3">
    <app-date-filter #dateFilterComponent (onChange)="handleChangeDateFilter($event)"></app-date-filter>
    <app-multiple-search #multipleSearchComponent (onChange)="handleChangeSearch($event)" />
    <button *ngIf="searchItems?.length || dateFilter" mat-raised-button (click)="clearFilters()">Clear Filters</button>
  </div>
  <div id="outbound-data" class="container text">
    <mat-grid-list cols="2" rowHeight="8:1">
      <mat-grid-tile routerLink="/list/{{ SummaryType.FIRST_OUTBOUND }}" class="mat-headline-2 pointer" rowspan="3">
        <div>
          <span class="total">{{ queries.get('firstOutbound') }}</span>
          <br />Verification<br />Orders
        </div>
      </mat-grid-tile>
      <mat-grid-tile routerLink="/list/{{ SummaryType.SECOND_OUTBOUND }}" class="mat-headline-2 pointer" rowspan="3">
        <div>
          <span class="total">{{ queries.get('totalOutbound') }}</span>
          <br />Outbound<br />Emails
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="email-quantity" colspan="2">
        <div>Emails sent to Primary LCON address: <span class="breakdown"> N/A</span></div>
      </mat-grid-tile>
      <mat-grid-tile class="email-quantity" colspan="2">
        <div>Emails sent to Secondary LCON address: <span class="breakdown"> N/A</span></div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
