<div class="page-wrap">
  <div id="summary-container" class="container">
    <!-- Chart -->
    <div id="summary-pie-chart" class="column chart">
      <app-chart #chartComponent [type]="chartType" [data]="chartData" [options]="chartOptions"></app-chart>
    </div>
    <!-- Totals -->
    <div id="summary-totals" class="column text">
      <div class="d-flex flex-wrap align-items-center justify-content-center gap-3">
        <app-date-filter #dateFilterComponent (onChange)="handleChangeDateFilter($event)"></app-date-filter>
        <button mat-raised-button (click)="downloadChart()">Download Chart</button>
        <app-multiple-search #multipleSearchComponent (onChange)="handleChangeSearch($event)" />
        <button *ngIf="searchItems?.length || dateFilter" mat-raised-button (click)="clearFilters()">
          Clear Filters
        </button>
      </div>
      <div class="spacer2"></div>
      <div class="mat-headline-4 text title">
        Total Activity: <span>{{ queries.get('totalActivity') }}</span>
      </div>
      <div class="spacer2"></div>
      <div class="pointer">
        <!-- Outbound -->
        <mat-grid-list cols="3" rowHeight="6:1" class="outbound total">
          <mat-grid-tile
            colspan="2"
            routerLink="/list/{{ SummaryType.TOTAL_OUTBOUND }}"
            [queryParams]="{ keepSearch: true }"
          >
            Outbound Total
          </mat-grid-tile>
          <mat-grid-tile routerLink="/list/{{ SummaryType.TOTAL_OUTBOUND }}" [queryParams]="{ keepSearch: true }">
            {{ queries.get('totalOutbound') }}
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="3" rowHeight="6:1">
          <mat-grid-tile
            colspan="2"
            routerLink="/list/{{ SummaryType.FIRST_OUTBOUND }}"
            [queryParams]="{ keepSearch: true }"
          >
            1st Notification Sent
          </mat-grid-tile>
          <mat-grid-tile routerLink="/list/{{ SummaryType.FIRST_OUTBOUND }}" [queryParams]="{ keepSearch: true }">
            {{ queries.get('firstOutbound') }}
          </mat-grid-tile>
          <mat-grid-tile
            colspan="2"
            routerLink="/list/{{ SummaryType.SECOND_OUTBOUND }}"
            [queryParams]="{ keepSearch: true }"
          >
            2nd Notification Send
          </mat-grid-tile>
          <mat-grid-tile routerLink="/list/{{ SummaryType.SECOND_OUTBOUND }}" [queryParams]="{ keepSearch: true }">
            {{ queries.get('secondOutbound') }}
          </mat-grid-tile>
        </mat-grid-list>
        <!-- Inbound -->
        <mat-grid-list cols="3" rowHeight="6:1" class="inbound total">
          <mat-grid-tile
            colspan="2"
            routerLink="/list/{{ SummaryType.TOTAL_INBOUND }}"
            [queryParams]="{ keepSearch: true }"
          >
            Inbound Total
          </mat-grid-tile>
          <mat-grid-tile routerLink="/list/{{ SummaryType.TOTAL_INBOUND }}" [queryParams]="{ keepSearch: true }">
            {{ queries.get('totalInbound') }}
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="3" rowHeight="6:1">
          <mat-grid-tile
            colspan="2"
            routerLink="/list/{{ SummaryType.FIRST_INBOUND }}"
            [queryParams]="{ keepSearch: true }"
          >
            1st Notification Responses
          </mat-grid-tile>
          <mat-grid-tile routerLink="/list/{{ SummaryType.FIRST_INBOUND }}" [queryParams]="{ keepSearch: true }">
            {{ queries.get('firstInbound') }}
          </mat-grid-tile>
          <mat-grid-tile
            colspan="2"
            routerLink="/list/{{ SummaryType.SECOND_INBOUND }}"
            [queryParams]="{ keepSearch: true }"
          >
            2nd Notification Responses
          </mat-grid-tile>
          <mat-grid-tile routerLink="/list/{{ SummaryType.SECOND_INBOUND }}" [queryParams]="{ keepSearch: true }">
            {{ queries.get('secondInbound') }}
          </mat-grid-tile>
        </mat-grid-list>
        <!-- Unreachable -->
        <mat-grid-list cols="3" rowHeight="6:1" class="unreachable total">
          <mat-grid-tile
            colspan="2"
            routerLink="/list/{{ SummaryType.TOTAL_UNREACHABLE }}"
            [queryParams]="{ keepSearch: true }"
          >
            Unreachable Total
          </mat-grid-tile>
          <mat-grid-tile routerLink="/list/{{ SummaryType.TOTAL_UNREACHABLE }}" [queryParams]="{ keepSearch: true }">
            {{ queries.get('totalUnreachable') }}
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="3" rowHeight="6:1">
          <mat-grid-tile colspan="2" routerLink="/list/{{ SummaryType.INVALID }}" [queryParams]="{ keepSearch: true }">
            Invalid Email
          </mat-grid-tile>
          <mat-grid-tile routerLink="/list/{{ SummaryType.INVALID }}" [queryParams]="{ keepSearch: true }">
            {{ queries.get('invalid') }}
          </mat-grid-tile>
          <mat-grid-tile
            colspan="2"
            routerLink="/list/{{ SummaryType.NO_RESPONSE }}"
            [queryParams]="{ keepSearch: true }"
          >
            No Response
          </mat-grid-tile>
          <mat-grid-tile routerLink="/list/{{ SummaryType.NO_RESPONSE }}" [queryParams]="{ keepSearch: true }">
            {{ queries.get('noResponse') }}
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>

  <div class="spacer2"></div>
  <app-breakdown-table title="Past Week" dateHeader="Past 7days view" dateFormat="M/d/YYYY" [data]="weeklyTotals">
  </app-breakdown-table>
  <div class="spacer2"></div>
  <app-breakdown-table
    title="Monthly Breakdown"
    [dateHeader]="currentYear.toString()"
    dateFormat="MMM"
    [data]="monthlyTotals"
  >
  </app-breakdown-table>
</div>
