<div class="page-wrap">
  <div class="d-flex flex-wrap align-items-center justify-content-center gap-3">
    <app-date-filter #dateFilterComponent (onChange)="handleChangeDateFilter($event)"></app-date-filter>
    <button mat-raised-button (click)="downloadChart()">Download Chart</button>
    <app-multiple-search #multipleSearchComponent (onChange)="handleChangeSearch($event)" />
    <button *ngIf="searchItems?.length || dateFilter" mat-raised-button (click)="clearFilters()">Clear Filters</button>
  </div>
  <div class="spacer2"></div>
  <div class="mat-headline-3 text title">
    Total Responses: <span class="total">{{ totalInbound }}</span>
  </div>
  <div id="inbound-container" class="container">
    <div id="inbound-data" class="text legend">
      <mat-grid-list cols="4" rowHeight="10:1">
        <mat-grid-tile colspan="4"></mat-grid-tile>
        <mat-grid-tile
          routerLink="/list/{{ SummaryType.NO_CHANGE }}"
          [queryParams]="{ keepSearch: true }"
          class="breakdown pointer"
          >{{ noChange }}</mat-grid-tile
        >
        <mat-grid-tile
          routerLink="/list/{{ SummaryType.LCON_CHANGE }}"
          [queryParams]="{ keepSearch: true }"
          class="breakdown pointer"
          >{{ lconChange }}</mat-grid-tile
        >
        <mat-grid-tile
          routerLink="/list/{{ SummaryType.ALCON_CHANGE }}"
          [queryParams]="{ keepSearch: true }"
          class="breakdown pointer"
          >{{ alconChange }}</mat-grid-tile
        >
        <mat-grid-tile
          routerLink="/list/{{ SummaryType.DEMARC_CHANGE }}"
          [queryParams]="{ keepSearch: true }"
          class="breakdown pointer"
          >{{ demarcChange }}</mat-grid-tile
        >
        <mat-grid-tile
          routerLink="/list/{{ SummaryType.NO_CHANGE }}"
          [queryParams]="{ keepSearch: true }"
          class="pointer"
          >No Change</mat-grid-tile
        >
        <mat-grid-tile
          routerLink="/list/{{ SummaryType.LCON_CHANGE }}"
          [queryParams]="{ keepSearch: true }"
          class="pointer"
          >LCON Change</mat-grid-tile
        >
        <mat-grid-tile
          routerLink="/list/{{ SummaryType.ALCON_CHANGE }}"
          [queryParams]="{ keepSearch: true }"
          class="pointer"
          >ALCON Change</mat-grid-tile
        >
        <mat-grid-tile
          routerLink="/list/{{ SummaryType.DEMARC_CHANGE }}"
          [queryParams]="{ keepSearch: true }"
          class="pointer"
          >Demarc Change</mat-grid-tile
        >
      </mat-grid-list>
    </div>
    <div id="inbound-bar-chart" class="chart">
      <app-chart #chartComponent [type]="chartType" [data]="chartData" [options]="chartOptions"></app-chart>
    </div>
  </div>
</div>
